<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="box pt-6">
  <div class="box-wrapper">
    <div class=" bg-white rounded flex items-center w-full p-3 shadow-sm border border-gray-200">
      <button @click="getImages()" class="outline-none focus:outline-none"><svg class=" w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
      <input type="search" name="" id="" @keydown.enter="getImages()" placeholder="search for images" x-model="q" class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent">
    </div>
  </div>
</div>

<div class="my-5 grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto">

  <div class="px-1">
    <div class="max-w-sm bg-white rounded-lg overflow-hidden shadow-lg">
      <img class="w-full" src="https://source.unsplash.com/user/erondu/1600x900" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
        <p class="text-gray-700 text-base">Ostrich</p>
        <p class="text-gray-700 text-base">Ironclaw</p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
      </div>
    </div>
  </div>

  <div class="px-1">
    <div class="max-w-sm bg-white rounded-lg overflow-hidden shadow-lg">
      <img class="w-full" src="https://source.unsplash.com/user/erondu/1600x900" alt="Another image">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The other image</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
          perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
      </div>
    </div>
  </div>

</div>
